################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GraphQL-PoC/obj
/GraphQL-PoC/bin
/GraphQL-PoC/.vs/GraphQL-PoC
